@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "MvcAccount", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @{  var isAdmin = HttpContext.Current.User.IsInRole("admin");

                if (isAdmin)
                {
                    <li>@Html.ActionLink("DelayAdmin", "Edit", "DelayAdmin", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("PageAdmin", "Index", "PageAdmin", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("AdHocPageAdmin", "Index", "AdHocPageAdmin", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("AdHocTest", "Index", "AdHocTest", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("ChangePassword", "ChangeAdminPassword", "MvcAccount", new { area = "" }, null)</li>

                }
            }

            <li>
                @{  var userName = User.Identity.GetUserName();
                    var index = userName.IndexOf("@", 1, StringComparison.Ordinal);
                    var shortName = userName.Substring(0, index);

                    @Html.ActionLink(shortName, "Index", "Home")
                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "MvcAccount", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}

@*
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

    @Html.ActionLink("Hello " + shortName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
*@