@model PageHitterWeb.Models.ChartViewModel

@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-inline">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-10">
                @Html.TextBox("StartDate", Model.StartDate.ToShortDateString(), new { style = "width:150px", @class = "form-control datepicker" })

                @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
            </div>
         </div>

        @* Uncomment to see the MVC datepicker *@
        @*<div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-10">
                @Html.Editor("EndDate", new {@class = "form-control "})

                @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
            </div>
        </div>*@


        <div class="form-group  col-md-4">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new {@class = "control-label col-md-4"})
            <div class="col-md-10">
                @Html.TextBox("EndDate", Model.EndDate.ToShortDateString(), new {style = "width:150px", @class = "form-control datepicker"})

                @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
            </div>
        </div>

        @Html.HiddenFor(x => x.ButtonClicked, new { id = "hdnButtonClicked" })
        <br/><br/><br/>

        <div class="form-group col-md-2">
            <div class="control-label  col-md-8">
                @Html.ActionLink("Show Chart", "Report", "Report", null, new {@class = "btn btn-primary chartButton", onclick = "return false;"})
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="control-label col-md-2">
                @Html.ActionLink("Show Grid", "Grid", "Report", null, new {@class = "btn btn-primary gridButton", onclick = "return false;"})
            </div>
        </div>
        <br /><br /><br />
        <div class="form-group col-md-4">
            <div class="control-label col-md-4">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>


    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('.datepicker').datepicker(); //Initialise any date pickers


        $(document).ready(function () {
            $('.chartButton').click(function () {
                $("#hdnButtonClicked").val("chart");
                $(this).closest('form')[0].submit();
            });

            $('.gridButton').click(function () {
                $("#hdnButtonClicked").val("grid");
                $(this).closest('form')[0].submit();
            });
        });


    </script>
}
